{{#if bus}}
<h2>{{bus.fields.nomcourtligne}}</h2>

<dl>
    <dt>Destination</dt>
    <dd>{{bus.fields.destination}}</dd>
    <dt>Écart</dt>
    <dd>{{ecart}}{{unit_ecart}} (il y a {{since}}{{unit_since}})</dd>
</dl>
{{/if}}
